.DS_Store
.idea
.vscode
.envrc
/navidrome
/iTunes*.xml
/tmp
/bin
data/*
vendor/*/
wiki
TODO.md
var
navidrome.toml
!release/linux/navidrome.toml
master.zip
testDB
cache/*
.cache/
*.swp
dist
music
*.db*
.gitinfo
docker-compose.yml
!contrib/docker-compose.yml
binaries
navidrome-*
AGENTS.md
.github/prompts
.github/instructions
.github/git-commit-instructions.md
*.exe
*.test
*.wasm
__pycache__
python_services/data
python_services/data_aug2
python_services/logs
python_services/checkpoints
pyhton_services/__pycache__/
**/__pycache__/
*.py[cod]
benchmarks
mf_benchmark_results